// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color: black;

.k {
	color: red;
}

.no {
	color: purple;
}

.c1 {
	color: grey;
}

.nn {
	color: #89BDFF;
}